.detection {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.detection > h2 {
	margin-top: 20px;
	padding: 10px;
	color: blue;
	font-size: 25px;
}
.detection__help > span {
	font-weight: 600;
	text-transform: uppercase;
}

.detection__help{
	padding-bottom: 30px;
	text-align: center;
}
.detection__sampleInputs {
	margin: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.detection__sampleInputs > h3 {
	text-transform: uppercase;
	font-weight: 700 !important;
	color: blue;
	margin: 50px;
}
.detection__sampleInputsImages {
	margin-top: 50px;
	width: 65vw;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.detection__sampleInputsImages > img {
	object-fit: contain;
	height: 200px;
}
.detection__uploadDetect {
	
	margin: 10px;
}
.detection__uploadDetect > button {
	margin: 10px;
	padding: 10px 30px;
}
.detection__uploadDetect > select {
	margin: 10px;
	padding: 13px 20px;
	cursor: pointer;
}
.select_item{
	margin: 10px;
	padding: 10px;
}
/* .detection__select{
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	background-color: rgb(0, 155, 59) !important;
	color: white !important;
	font-weight: 600 !important;
	font-size: 0.875rem;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	line-height: 1.75;
	min-width: 64px;
    box-sizing: border-box;
	transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms ;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;

} */
.detection__selectModel{
	border-radius: 4px;
	background-color: rgb(0, 155, 59) !important;
	color: white !important;
	font-weight: 600 !important;

}
.detection__uploadDetectUpload {
	background-color: rgb(0, 155, 59) !important;
	color: white !important;
	font-weight: 600 !important;
}
.detection__uploadDetectDetect {
	background-color: rgb(212, 30, 30) !important;
	color: white !important;
	font-weight: 600 !important;
}
.detection__uploadDetectUploadIcon {
	position: relative;
	left: 5px;
	bottom: 1px;
}
.detection__result {
	margin-top: 50px;
}
.detection__resultPositive > p {
	margin-top: 00px;
	padding: 30px 120px;
	background-color: rgb(255, 163, 163);
    text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}
.detection__resultNegative> p {
	margin-top: 0px;
	padding: 30px 120px;
	background-color: rgb(146, 221, 152);
    text-transform: uppercase;
	font-weight: 700;
	font-size: 25px;
}
label{
    cursor: pointer;
}
